*{
    box-sizing: border-box;
}

hr {
    border: 1px solid blue;
}

span{
    font-weight: bolder;
    font-size: 1em;
}

.commits{
    height: 550px;
    width: 40%;
    overflow-y: scroll;
    border-radius: 15px 0 0 15px;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    background-color:cyan;
    margin: 25px 45px 15px 0;
    padding: 20px;
    float: right;
}

.commits li{
    text-transform: capitalize;
    background-color:cyan;
    font-weight: bold;
    list-style-type: none;
    font-size: 0.9em;
    text-align: center;
    color: blue;
}

.button{
    color: blue;  
    width: 20%;
    height: 100px;
    float: right;
    margin: 0 10% 0 10%;
}

#bLeft{
    float: left;
    
}

#bRight{
    float: left;
    
}

